@using Imcomere.Pages.Component
@page "/ConfirmEmail"
@layout MainLayout

<div class="confirmed">
    <i class="bi bi-check2-circle"></i>
    <h2 id="textConfirm">Vui lòng bấm xác nhận được gửi tới email</h2>
</div>

@code {

}
