@using Imcomere.Pages.Component
@inject HttpClient Http
@page "/Order"
@layout MainLayout

<div class="row">
    <div class="col-lg-6" style="margin-top: 20px;">
        <div class="card">
            <div class="card-body">
                <form action="/" method="post">
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-formlabel">Họ và tên</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputText" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-formlabel">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-formlabel">Số điện thoại</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="inputNumber" inputmode="numeric"/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-formlabel">Địa chỉ</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputDiachi"/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-2 col-formlabel">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword" />
                        </div>
                    </div>
                    <fieldset class="row mb-3">
                        <legend classs="col-form-label col-sm-2 pt-0">Phương thức thanh toán</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="gridRadios" id="gridRadios1" value="option1" />
                                <label class="form-check-label" for="gridRadios1">Thanh toán trực tiếp</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="gridRadios" value="option2" id="gridRadios2" />
                                <label class="form-check-label" for="gridRadios2">Thanh toán chuyển khoản</label>
                            </div>
                        </div>
                    </fieldset>
                    <div class="text-center">
                        <a href="/ConfirmEmail" class="btn btn-primary">Gửi</a>
                        <a href="" class="btn btn-secondary">Làm lại</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6" style="margin-top: 20px;">
        <ProductView />
    </div>
</div>

@code {

}
