input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.card .card-body form .text-center .btn{
    background-color: var(--bs-primary);
    border-radius: 999px;
    border: none;
}

.card {
    border-radius: 15px;
}

.card .card-body {
    border: 1px solid var(--bs-primary);
    border-radius: 15px;
}

.card .card-body form .mb-3 input {
    border: 1px solid var(--bs-primary);
    border-radius: 15px;
}

.card .card-body form .mb-3 label {
    color: var(--bs-primary-dark-red)
}

.card .card-body form .mb-3 legend {
    color: var(--bs-primary);
}