<div class="banner">
    <a href="https://shopee.vn/biscafunofficial?entryPoint=ShopBySearch&searchKeyword=biscafun" target="_blank"><img src="assets/img/biscafun_banner.png" alt="Gian hàng chính thức Biscafun"/></a>
    <button class="btn btn-primary"><a href="https://shopee.vn/biscafunofficial?entryPoint=ShopBySearch&searchKeyword=biscafun" target="_blank">Shoppee Mall</a></button>
    <button class="btn btn-primary"><a href="https://www.lazada.vn/biscafun-124239094/?spm=a2o4n.pdp_revamp.0.0.129067c8rZY3Jp&type=brand" target="_blank">Laz Mall</a></button>
</div>
@code {

}
