.page-wrapper[b-exj4narkgi] {
    margin: 0 auto;
}

#cardList[b-exj4narkgi] {
    background-color: #eee;
    max-height: 421px;
    overflow-y: auto;
}

#cardList tr[b-exj4narkgi] {
    background-color: #fff;
}

#cardList tr a[b-exj4narkgi] {
    color: var(--bs-primary-red);
    font-weight: 600;
    line-height: 25px;
}

#cardList tr td a:hover[b-exj4narkgi] {
    color: var(--bs-primary-red);
    transition: 0.3s;
}

#cardList th[b-exj4narkgi] {
    background-color: var(--bs-primary-red);
    color: #fff;
    font-weight: bold;
    padding: 15px 5px;
    font-size: 14px;
}

#cardList td[b-exj4narkgi] {
    color: var(--bs-primary);
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    align-content: baseline;
}

#cardList td img[b-exj4narkgi] {
    width: auto;
    height: 60px;
    border: none;
}

#cardList td input[b-exj4narkgi] {
    width: 45px;
    padding: 5px;
    text-align: center;
    border: 1px solid var(--bs-primary);
    font-size: 15px;
    font-weight: bold;
    color: var(--bs-primary);
}

#cardList td .product-price[b-exj4narkgi] {
    color: var(--bs-primary-red)
}

#cardList table tr .soluong[b-exj4narkgi] {
    display: flex;
    margin: 0 auto;
    align-items: center;
}

#cardList table tr .soluong .btn[b-exj4narkgi] {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: var(--bs-primary);
    border: none;
}

#cardList table tr .soluong input[b-exj4narkgi] {
    width: 40px;
    height: 40px;
}

.button-cart .btn[b-exj4narkgi] {
    background-color: var(--bs-primary);
    border: none
}

.button-cart .btn:hover[b-exj4narkgi] {
    background-color: var(--bs-primary);
}

